/* Navbar.module.css */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #f65282;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #FFC955;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #35c56c;
  --bs-info: #0dcaf0;
  --bs-warning: #FFC955;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #231d3c;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 53, 197, 108;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 201, 85;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 35, 29, 60;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;

}

.BoxContent {
  display: flex;
  justify-content: space-between;

}

.RightContent {
  width: 70%;
}

.LeftContent {
  width: 30%;
}


/* Styling for the item blog container */
.ItemBlog {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
}

/* Header styling */
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header div {
  font-size: 16px;
  color: #333;
}

.Header span {
  color: #888;
  font-size: 14px;
}

/* Icon styling */
.BsFillBookmarkFill,
.LuMoreHorizontal {
  font-size: 20px;
  color: #888;
  margin-left: 10px;
  cursor: pointer;
}

/* Content styling */
.ContentIteam {
  margin-top: 10px;
  overflow: auto;
}

.ContentIteam h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;


}

.ContentIteam figcaption {
  font-size: 16px;
  color: #555;
}

/* Footer styling */
.FooterIteam {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  color: #888;
}

.FooterIteam span {
  font-size: 14px;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 0px 5px;
}

.FooterIteam div {
  font-size: 14px;
}


/* Styling for the left content container */
.LeftContent {
  border-radius: 8px;
  padding: 20px;

}

/* Name and tags styling */
.NameTopicTags {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.Tags {
  display: flex;
  flex-wrap: wrap;
}

.Tags span {
  font-size: 14px;
  background-color: #f0f0f0;
  color: #333;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

/* Ads styling */
.ads {

  margin-top: 20px;

}

.ads img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.imageAuthor {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}


/* Responsive styles for mobile and tablet */
@media screen and (max-width: 768px) {
  .BoxContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .RightContent {
    width: 100%;
  }

  .LeftContent {
    width: 100%;
  }

}


.Pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Page,
.ActivePage {
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.ActivePage {
  background-color: var(--bs-orange);
  color: #fff;
}

.UnfavoriteButton {
  color: var(--bs-orange);
}

.favoriteButton {
  color: var(--bs-gray);
}

.nameUser:hover {
  color: var(--bs-orange);
  text-decoration: underline;
}

.nameUser {
  cursor: pointer;
}