/* Navbar.module.css */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #f65282;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #FFC955;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #35c56c;
  --bs-info: #0dcaf0;
  --bs-warning: #FFC955;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #231d3c;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 53, 197, 108;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 201, 85;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 35, 29, 60;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;

}

.BoxFooter {
  background-color: #f2f2f2;
  padding: 10px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FLOGO {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.FLOGO:hover {
  color: var(--bs-orange);
}

.FText {
  font-size: 14px;
  color: #666;
  margin-left: 10px;
}

.FLink {
  color: var(--bs-orange);
  text-decoration: none;
}

.FLink:hover {
  text-decoration: underline;
}

.FNameMemBer {
  font-size: 14px;
  color: #666;
  margin-left: 10px;
}

.FNameMemBer ul {
  list-style: none;
}